<hr />
<p>layout: post 
title: "01. Timeline of the Application Process"</p>
<h2 id="date20160908">date: 2016-09-08</h2>
<p>Usually, the application process begins after completing high school. This must not be the case though. If you can take the standardized tests before you complete high school and pass, then you can consider that option. Remember your KCSE exams are not a requirement for your application abroad, but at times boost the strength of your application.</p>
<p>The following are steps and the general timelines in the application process. We’ll address these steps in more detail later on.</p>
<ul>
<li>Taking the National Exams (KCSE) (November)</li>
</ul>
<p>As mentioned above, these are not a requirement to your general application, but many people embark on their applications abroad after taking their high school national exams. This makes it a good starting point.</p>
<ul>
<li>Preparation for the SAT Exams  (December – October)</li>
</ul>
<p>Since SAT exams are not the standard test in the Kenyan system, you need ample time to prepare for these exams. It is wisest to start early so that you can familiarize yourself with the SATs and get better at it with time. You can find several practice tests online and even in prep books which will help you improve your scores.</p>
<ul>
<li>School Search (December – October)</li>
</ul>
<p>Many applicants find themselves having ‘dream schools’, which is not a bad thing, but the fact that these ‘dream schools’ limit their school options is unfortunate. As much as you may really want to go to a certain school simply because you have heard about it, it’s not always guaranteed that it is your best match. It is important to embark on a serious school search process, as will be discussed later, so as to find your best match of a school.  </p>
<ul>
<li>Setting Up the Common App Account  (at least by August)</li>
</ul>
<p>Application to many schools abroad requires you to have an account with the Common App. This is the platform where you fill in your application details, and unless you want to apply to a very specific school which does not use the Common App, you should most definitely create this account.</p>
<p>You can open your account earlier than August so as to get a head start on your application. Unlike in previous years, the accounts on the Common App don't get wiped out before every college applications cycle. The only parts that may change once August comes are the essay prompts that the Common App and various schools give. So apart from the essays, you can get everything else started before August. [Edit 1]</p>
<p>The Common App account is renewed annually, which means you may have to wait until August (when it opens for a new wave of college applications) to create your account. You may have created an account earlier, but note that the account will be wiped out of the system in August. Explore the Common App website so that you can be familiar with its content.</p>
<ul>
<li>Taking the SAT Exams (Spread out all year round)</li>
</ul>
<p>The SAT exams are offered on specific dates all year round. When you should take these exams is entirely up to you and when you feel you are ready for these exams. Remember, however, that you need to have taken these exams and preferably received your results by the time your application is due.</p>
<p>If you intend to take Subject Tests, it is sometimes advised that you take them a few months after your National exams (KCSE) because the content is still fresh in your mind. You may spend a month or two after KCSE to familiarize yourself with the new concepts in the subject test you intend to do.</p>
<ul>
<li>Filling the Application Details and Submissions (August – February)</li>
</ul>
<p>This is usually the time when you fill in most of you Common App information, get recommendations and actually do most of the details of your application, as will be explained later on. This is usually an intense period since it is also when you will probably be taking your SATs.</p>
<p>Submissions vary on whether you are applying for Early Decision/Action or Regular Decision.</p>
<p>Most Early Decision deadlines lie in November, while most Regular Decision deadlines lie in January. The Common App’s Dashboard feature is usually useful in monitoring your deadlines.</p>
<p>But Financial Aid deadlines don’t show on the Common App, you’ll find from the school’s financial aid office. Their deadlines range from November (early applications) to February (regular applications).</p>
<ul>
<li>Alumni Interviews (November - March)</li>
</ul>
<p>While some schools may not require you to have an interview with their representative, others will. These interviews are held to help narrow down the pool of applicants, usually when there is tough enough competition.</p>
<ul>
<li>Admission Notification (December &amp; March-April)</li>
</ul>
<p>This is the dreaded moment; when you know whether you have been accepted into a school or not. Early decision notifications usually come out in December, while regular decision notifications come out mostly in March and April.</p>
<ul>
<li>Passport Acquiring (January – May)</li>
</ul>
<p>Since passports in Kenya take different times to get processed, we advise that you get yours as soon as possible after you get admitted (if you didn’t have one already). This should NOT be done last minute because you’ll need it to acquire your visa, which can be another time-demanding process.</p>
<p>You may take a leap of faith and apply for your passport in January to get this step out of the way. Even if you won’t attend a US university, the passport will be useful in other situations.</p>
<ul>
<li>Visa Interview (June – July)</li>
</ul>
<p>Acquiring a visa stamp may take time, given that once you book your Visa Interview you will have to wait a few weeks (or more) until the day of the interview. It is therefore recommended that you book your appointment around June or July so that you have your interview in either late June or July. You don’t want to risk having your interview later than this period because your Visa may be delayed, making you miss the first few days of classes. Also, you don’t want to book your flight before you get your visa. It might cost you!</p>
<ul>
<li>Vaccinations and Health Requirements (April – August)</li>
</ul>
<p>Once you are admitted to a school, you will find that they have specific requirements in terms of the vaccines you are required to have taken before you get to school. During this period, you should ensure that you get all these vaccines.</p>
<p>Some vaccines require you to take more than just one dose, with intervals of a few months. These need you to start early, so immediately you are admitted to a school make sure to keep your eyes open for any vaccines that you are required to take. In addition to vaccinations required by the school, also tell the nurses that you’re flying to the US because there are vaccines that you should get before flying.</p>
<ul>
<li>General Preparation and Shopping (August)</li>
</ul>
<p>By mid-August, you are done with most of those things that require institutions to accomplish. It is now time to think of the personal things you need to start life in a foreign country. This is the time to get yourself a Kenyan bracelet, if you don’t already own one, or get a Maasai blanket. This is when you get yourself enough clothes and other things that you think you may need during your stay in the US.</p>
<ul>
<li>Departure (August – September)</li>
</ul>
<p>It’s now time to leave for your new home. Only make sure you have a plan once you arrive at the airport. You can have someone else pick you up if your school doesn’t send someone to do it.</p>
<p><em>This timeline guide may be flexible in some cases and exceptions may be offered by some schools or in special circumstances.</em></p>
<h2 id="edits">Edits:</h2>
<ul>
<li>Edit 1 (Sept 2016): The Common App no longer wipes out accounts every year. Credits to Ahmed for pointing this out.</li>
</ul>