<!DOCTYPE html><html><head>
<title>Studying your Way to (Nigh) Perfect Scores</title>
<meta charset="utf-8">
<meta name="author" content="Chege Gitau">
<meta name="date" content="2017-06-11">
<meta name="tags" content="[sat-prep]">
<meta name="abstract" content="A discussion on why lots of practice trumps the SAT.">
<% include ../partials/header.ejs %></head>
<head></head><body><% include ../partials/navbar.ejs %>
                <div id="main_div">
<h1 id="studyingyourwaytonighperfectscores">Studying your Way to (Nigh) Perfect Scores</h1>
<p><img src="/images/scores-collage.png" alt="Chege's SAT Scores" width="90%" height="90%"></p>
<p>I took my SATs a while back, and that's what I scored. This post highlights the insights that I gained while studying. Feel free to message us on Facebook if you have more questions, or leave a comment.</p>
<p>The fact that the SATs are standardized also reveals their greatest weakness - they can only test so much. Think about it this way: all editions of the test must be comparable. If you can consistently do well on your practice tests, your final score won’t be remarkably different.</p>
<p>Of course, the above strategy works best only if you practice with materials that closely resemble the actual test. Unfortunately, College Board doesn’t offer an infinite number of practice tests for you.</p>
<p>This is my general strategy:</p>
<ul>
<li><p>Use any of the prep books to gain a foundational understanding of the concepts and format of the test. For example, unlike in 8-4-4 Chemistry where we did energy levels, you’ll notice that US schools learnt electronic configurations using s-p-d-f orbitals.</p></li>
<li><p>Do a lot of practice tests. Since there are a finite number of practice tests, you’re better off starting with non-official tests. As the test date approaches, switch to the official tests so that you’re more conversant with the wording used by College Board.</p></li>
<li><p>Learning from the practice tests is very beneficial. Make sure that if you redid a certain test, you’d get +90%. Do not repeat your mistakes. Because the testable material is limited, the number of ways you can mess up is also limited.</p>
<ul>
<li><p>I used to write down each question I got wrong with an explanation of the correct answer.</p></li>
<li><p>Whenever I was revising for my SATs, I’d review my previous mistakes to make sure that I avoid them in the subsequent practice tests.</p></li>
<li><p>Here’s a snippet from my note book back when I was studying for Math IIC. Whenever I encountered a question for which I didn’t know the answer, I’d write it down once I was done with the practice test. To revise, I’d cover up the answer, and try to work it out myself.</p></li>
<li><p><img src="/images/sat_math.jpg" alt="SAT_Math" width="90%" height="90%"></p></li>
<li><p>Initially, you’ll be noting down a lot of questions per practice test, but as you keep learning from previous mistakes, you’ll have progressively fewer weak points. </p></li></ul></li>
</ul>
<p>I can’t stress this enough: learn the basics, do lots of practice tests while also learning from the practice tests. I did +80 SAT practice tests. Best wishes!</p>

</div>
                <% include ../partials/footer.ejs %></body></html>