<div class="w3-content" id="auction-and-payments">
    <h3>Paid Essay Reviews</h3>

    <p>
        In previous years, we've had a group of volunteers that review the essays 
        for free. That will not change. However, we want to recruit more reviewers, 
        some of whom may prefer to get paid in return for providing feedback. It 
        is typical for reviewers to get paid; volunteering is not the norm.
        <br />
        <br />

        Although we'll still maintain the general pool for free essay reviews, an 
        applicant may opt for the paid version in order to:
        <ul>
            <li>
                <em>
                    Get a dedicated reviewer who will also provide feedback 
                    on the overall themes in your application as a whole.
                </em>
            </li>
            <li>
                <em>
                    Provide feedback within a guaranteed time frame. The essays in 
                    the free queue are reviewed based on how many volunteers are 
                    available.
                </em>
            </li>
        </ul>
        
        College students typically earn $11/hr in their campus jobs. Providing 
        feedback on a 500-word essay takes ~20min. A rate of $3.67 (370 KES) 
        for such an essay makes sense.
        <br />
        <br />

    </p>

    <h3>Making Payments</h3>

    <p>
        We're only acting as a matchmaker between applicants and people that 
        provide services to applicants. It's up to the two parties to 
        coordinate payments.
        <br />
        <br />

        Typically, the applicant will pay via mobile money to the essay 
        reviewers' local mobile account.
        <br />
        <br />

        If the paid services prove popular, we will build a system for 
        accepting payments and also provide more support to the marketplace.

    </p>

</div>