<div class="w3-content" id="auction-and-payments">
    <h3>The Auction Process</h3>

    <p>
        We will now support two paid services:

        <ol>
            <li>
                <h5>Paid Essay Reviews</h5>
                <p>
                    The college applicant will pay an essay reviewer to provide 
                    feedback on their essays. Although we'll still maintain the 
                    general pool for free essay reviews by volunteers, an 
                    applicant may opt for the paid version in order to:
                    <ul>
                        <li>
                            Get a dedicated reviewer who will also provide feedback 
                            on the overall themes in your application.
                        </li>
                        <li>
                            Provide feedback within a guaranteed time frame. The 
                            essays in the free queue are reviewed based on how 
                            many volunteers are available and the number of 
                            submissions.
                        </li>
                    </ul>
                </p>
            </li>

            <li>
                <h5>Paid Tutors</h5>
                <p>
                    As the SAT exams approach, applicants might need someone to 
                    tutor them on the test material. Most of the tutoring will 
                    be done online since the tutor is probably in the US and the 
                    applicant in Kenya.
                </p>
            </li>
        </ol>
        
        We don't know what the right price is. We'll therefore let the market 
        decide by auction. Let's take the example of paid essay reviewers (tutors 
        work in the same way).
        <br />
        <br />

        Applicants would bid how much (in KES) they're willing to pay for a 
        500-word essay to get reviewed. Say the following bids are made:
        <br />
        <br />

        a<sub>1</sub>, a<sub>2</sub>, a<sub>3</sub>, a<sub>4</sub> = [200, 300, 400, 500]
        <br />
        <br />

        The reviewers also bid how much (in KES) they're willing to accept in 
        order to review a 500-word essay. Say the following rates were submitted:
        <br />
        <br />

        r<sub>1</sub>, r<sub>2</sub>, r<sub>3</sub> = [150, 400, 600]

        <br />
        <br />

        We will then carry out the following matching:
        <ul>
            <li>
                r<sub>3</sub> will not be assigned to anyone.
            </li> 
            <li>
                r<sub>2</sub> will be assigned to a<sub>4</sub> at a rate of 400 KES / 500-words.
            </li>
            <li>
                r<sub>1</sub> will be assigned to a<sub>3</sub> at a rate of 150 KES / 500-words.
            </li>
        </ul>

        At the end of each week, we'll publish anonymous information on which bids 
        were made, and which ones got matched. The buyers and sellers will then know 
        how to adjust their bids.
        <br />
        <br />

        Our auction assumes that reviewers who have more experience will ask for 
        higher rates, but not too high that they don't get matched. We expect the 
        prices to stabilize after a few rounds at a level that works for most 
        people.
        <br />
        <br />
        
        After the essay reviews are done, we'll ask the applicant to rate the 
        reviewer, so that we can provide an additional signal to other applicants. 
        For now, we'll have to work with self-reported pricing.

    </p>

    <h3>Making Payments</h3>

    <p>
        We're only acting as a matchmaker between applicants and people that 
        provide services to applicants. It's up to the two parties to 
        coordinate payments.
        <br />
        <br />

        Typically, the applicant will pay via mobile money to the essay 
        reviewers' local mobile account.
        <br />
        <br />

        If the paid services prove popular, we will build a system for 
        accepting payments and also provide more support to the marketplace.

    </p>

</div>