<style>
    footer {
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

    .footer_item {
        float: left;
        padding: 0 10% 2% 0;
    }
</style>

<footer class="w3-container w3-padding-small" id="site-footer">
    <a 
        href="mailto:2016collegeessays@gmail.com" class="footer_item"> 
        <i class="fa fa-envelope-o"></i> Email Us
    </a>
    
    <a href="/about" class="footer_item" >
        About Us
    </a>

</footer>