<style>
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
        float: left;
    }
</style>

<footer class="w3-container w3-padding-small">
    <a 
        href="mailto:2016collegeessays@gmail.com" 
        class="w3-bar-item w3-black w3-padding-small"> 
        <i class="fa fa-envelope-o"></i> Email Us
    </a>
    
    <a
        href="/about" 
        class="w3-bar-item w3-black w3-padding-small">About Us
    </a>

</footer>