<footer class="w3-container w3-black w3-padding-small w3-bar">
    <a 
        href="mailto:2016collegeessays@gmail.com" 
        class="w3-bar-item w3-padding-small">Email Us</a>

    <a
        href="/about" 
        class="w3-bar-item w3-padding-small">About Us</a>
    </a>
    
</footer>