<ul class="topnav">

    <li class="dropdown">
        <a class="button-link" href="/">Calendar</a>
    </li>

    <li class="dropdown">
        <a class="button-link">College Guide</a>
        <div class="dropdown-content" id="college-guide">
            <ol>
                <li><a href="/college-guide/2016-09-08-01-timeline-of-the-application-process">01. Timeline of the Application Process</a></li>
                <li><a href="/college-guide/2016-09-08-02-what-will-you-gain-from-us-universities">02. What will you gain from US universities?</a></li>
                <li><a href="/college-guide/2016-09-08-03-what-are-us-universities-looking-for-in-international-students">03. What are US universities looking for in international students?</a></li>
                <li><a href="/college-guide/2016-09-08-04-organizing-information-about-your-extracurricular-activities">04. Organizing information about your extracurricular activities</a></li>
                <li><a href="/college-guide/2016-09-08-05-self-evaluation-questions">05. Self evaluation questions</a></li>
                <li><a href="/college-guide/2016-09-08-06-activities-that-you-can-be-doing-alongside-college-applications">06. Activities that you can be doing alongside college applications</a></li>
                <li><a href="/college-guide/2016-09-08-07-tests-that-you-need-to-take">07. Tests that you need to take</a></li>
                <li><a href="/college-guide/2016-09-08-08-test-preparation-resources">08. Test Preparation Resources</a></li>
                <li><a href="/college-guide/2016-09-08-09-examples-of-us-universities-that-kenyans-have-attended-on-scholarships">09. Examples of US universities that Kenyans have attended on scholarships</a></li>
                <li><a href="/college-guide/2016-09-08-10-when-considering-a-university-what-should-you-look-for">10. When considering a university, what should you look for?</a></li>
                <li><a href="/college-guide/2016-09-08-11-college-access-programs">11. Organizations in Kenya that Help Students Apply to US Universities</a></li>
                <li><a href="/college-guide/2016-09-08-12-high-school-transcript-school-report-and-letters-of-recommendation">12. High School Transcript, School Report and Letters of Recommendation</a></li>
                <li><a href="/college-guide/2016-09-08-13-ea-scea-ed-and-rd">13. Early Action (EA)/ Single Choice Early Action (SCEA)/ Early Decision (ED) &amp; Regular Decision (RD)</a></li>
                <li><a href="/college-guide/2016-09-08-14-common-application-essays-and-writing-supplements">14. Common Application Essays and Writing Supplements</a></li>
                <li><a href="/college-guide/2016-09-08-15-financial-aid-applications">15. Financial Aid Applications</a></li>
                <li><a href="/college-guide/2016-09-08-16-receiving-admissions-decisions">16. Receiving Admission Decisions</a></li>
                <li><a href="/college-guide/2016-09-08-17-the-i20-form-sevis-fee-and-visa-interview">17. The I-20 Form, SEVIS Fee and Visa Interview</a></li>
                <li><a href="/college-guide/2016-09-08-18-coming-to-the-us-travel-arrangements">18. Coming to the US - Travel Arrangements</a></li>
                <li><a href="/college-guide/2016-09-08-19-freshman-pro-tips">19. Freshman Pro-Tips</a></li>
            </ol>
        </div>
    </li>

    <li class="dropdown">
        <a class="button-link">Blog Posts</a>
        <div class="dropdown-content" id="blog-posts">
            <ol>
                <li><a href="/contribute">How to Contribute to This Initiative</a></li>
                <li><a href="/blog-posts/2018-08-06-to-kenyan-parents-an-argument-for-sending-your-child-to-a-us-college">To Kenyan Parents: An Argument for Sending Your Child to a US College</a></li>
                <li><a href="/blog-posts/2017-06-11-studying-your-way-to-nigh-perfect-scores">Studying your Way to (Nigh) Perfect Scores</a></li>
            </ol>
        </div>
    </li>

    <li class="dropdown">
        <a class="button-link" href="/book-rentals">SAT Prep Rentals</a>
    </li>

</ul>

<style>

    .topnav {
        position: relative;
        top: 0;
        width: 100%;
        padding: 1%;
    }

    .button-link {
        text-decoration: underline;
        cursor: pointer;
        font-weight: bolder;
    }

    .dropdown {
        display: inline-block;
        padding: 0 2% 0 0;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        color: white;
        background-color: black;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        overflow-y: scroll;
        max-height: 500px;
    }

    .dropdown-content ol {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    @media screen and (max-width: 900px) {
        .topnav .dropdown {
            float: left;
            padding: 1%;
        }
    }

    @media screen and (max-width: 400px) {
        .topnav .dropdown {
            float: none;
        }
    }
</style>

