<div class="w3-bar w3-black">
    <div class="topnav">
        <div class="w3-dropdown-hover">
            <button class="w3-button w3-white">College Guide</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="/college_guide/2016-09-08-01-timeline-of-the-application-process.html" 
                class="w3-bar-item w3-button">01. Timeline of the Application Process</a>

                <a href="/college_guide/2016-09-08-02-what-will-you-gain-from-us-universities.html"
                class="w3-bar-item w3-button">02. What Will You Gain From US Universities?</a>

                <a href="/college_guide/2016-09-08-03-what-are-us-universities-looking-for-in-international-students.html"
                class="w3-bar-item w3-button"></a>

                <a href="/college_guide/2016-09-08-04-organizing-information-about-your-extracurricular-activities.html" 
                class="w3-bar-item w3-button"></a>
                
            </div>
        </div>
    </div>
</div>

