<div class="w3-bar w3-black">
    <div class="topnav">
        <div class="dropdown">
            <a class="w3-button w3-white">College Guide</a>
            <div class="dropdown-content" id="college-guide">
<a href="/college-guide/2016-09-08-01-timeline-of-the-application-process">01. Timeline of the Application Process</a>
<a href="/college-guide/2016-09-08-02-what-will-you-gain-from-us-universities">02. What will you gain from US universities?</a>
<a href="/college-guide/2016-09-08-03-what-are-us-universities-looking-for-in-international-students">03. What are US universities looking for in international students?</a>
<a href="/college-guide/2016-09-08-04-organizing-information-about-your-extracurricular-activities">04. Organizing information about your extracurricular activities</a>
<a href="/college-guide/2016-09-08-05-self-evaluation-questions">05. Self evaluation questions</a>
<a href="/college-guide/2016-09-08-06-activities-that-you-can-be-doing-alongside-college-applications">06. Activities that you can be doing alongside college applications</a>
<a href="/college-guide/2016-09-08-07-tests-that-you-need-to-take">07. Tests that you need to take</a>
<a href="/college-guide/2016-09-08-08-test-preparation-resources">08. Test Preparation Resources</a>
<a href="/college-guide/2016-09-08-09-examples-of-us-universities-that-kenyans-have-attended-on-scholarships">09. Examples of US universities that Kenyans have attended on scholarships</a>
<a href="/college-guide/2016-09-08-10-when-considering-a-university-what-should-you-look-for">10. When considering a university, what should you look for?</a>
<a href="/college-guide/2016-09-08-11-college-access-programs">11. Organizations in Kenya that Help Students Apply to US Universities</a>
<a href="/college-guide/2016-09-08-12-high-school-transcript-school-report-and-letters-of-recommendation">12. High School Transcript, School Report and Letters of Recommendation</a>
<a href="/college-guide/2016-09-08-13-ea-scea-ed-and-rd">13. Early Action (EA)/ Single Choice Early Action (SCEA)/ Early Decision (ED) &amp; Regular Decision (RD)</a>
<a href="/college-guide/2016-09-08-14-common-application-essays-and-writing-supplements">14. Common Application Essays and Writing Supplements</a>
<a href="/college-guide/2016-09-08-15-financial-aid-applications">15. Financial Aid Applications</a>
<a href="/college-guide/2016-09-08-16-receiving-admissions-decisions">16. Receiving Admission Decisions</a>
<a href="/college-guide/2016-09-08-17-the-i20-form-sevis-fee-and-visa-interview">17. The I-20 Form, SEVIS Fee and Visa Interview</a>
<a href="/college-guide/2016-09-08-18-coming-to-the-us-travel-arrangements">18. Coming to the US - Travel Arrangements</a>
<a href="/college-guide/2016-09-08-19-freshman-pro-tips">19. Freshman Pro-Tips</a>
</div>
        </div>

        <div class="dropdown">
            <a class="w3-button w3-white">Blog Posts</a>
            <div class="dropdown-content" id="blog-posts">
            <a href="/blog-posts/2017-06-11-studying-your-way-to-nigh-perfect-scores">Studying your Way to (Nigh) Perfect Scores</a>
</div>
        </div>

        <div class="dropdown">
            <a class="w3-button w3-white" href="/book-rentals">SAT Prep Rentals</a>
        </div>
    </div>
</div>

