.hidden {
    display: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 0;
    margin-bottom: 5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    background-color: #f6f6f6;         
}

#main_div {
    flex: 1;
    margin: 10px 18% 5px 10%; /* Clockwise: T R B L */
    background-color: #ffffff;
    border-radius: 15px;
    padding: 0% 5% 10% 5%;
}

.meta_string {
    text-decoration: underline rgb(146, 146, 146);
    font-style: italic;
    font-size: smaller
}

/* A subset or rules from https://www.w3schools.com/w3css/w3css_downloads.asp */
/* class="w3-bar-item w3-button"> */

.italics {
    font-style: italic
}

.w3-container {
    padding:0.01em 16px
}

.w3-padding-32{
    padding-top:32px !important;
    padding-bottom:32px !important
}

.w3-center {
    align-content: center;
}

.w3-content{
    max-width:980px;
    margin: 50px 50px 50px 50px
}

.w3-btn,.w3-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.w3-disabled,.w3-btn:disabled,.w3-button:disabled{
    cursor:not-allowed;
    opacity:0.3;
    pointer-events: none
}

.w3-button:hover{
    color:#000!important;
    background-color:#ccc!important
}

.w3-black {
    color:#fff !important;
    background-color:#000 !important
}

.w3-white {
    color: #000 !important;
    background-color: #fff !important
}

.w3-padding-small{
    padding:4px 8px!important
}

.shop_item {
    border: 3px solid black;
    border-radius: 5px;
}

/* Why doesn't this work... */
.shop_item div img {
    width: 2;
    height: 2;
}

/* ... yet this works? 
.shop_item div p {
    font-size: xx-large;
}
*/

.w3-left{
    float:left!important
}

.w3-right{
    float:right!important
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f6f6f6;
}

/* If the browser window reduces in size, remove the padding 
 * from the main content */
@media screen and (max-width: 900px) {
    #main_div {
        margin: 0;
    }
}