footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.hidden {
    display: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding: 40px 0 0;
    margin-bottom: 5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;         
}

#main_div {
    flex: 1;
    margin: 10px 50px 5px 50px /* Clockwise: T R B L */
}

.topnav {
    position: fixed;
    padding: 10px;
    width: 100%;
    background-color: black;
    color: white;
    top: 0;
}

.meta_string {
    text-decoration: underline rgb(146, 146, 146);
    font-style: italic;
    font-size: smaller
}

/* A subset or rules from https://www.w3schools.com/w3css/w3css_downloads.asp */
/* class="w3-bar-item w3-button"> */

.w3-bar {
    width:100%;
    overflow:hidden
}

.w3-bar .w3-bar-item {
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}

.italics {
    font-style: italic
}

.dropdown {
    /* position: relative; */
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block;
    overflow-y: scroll;
    max-height: 500px;
}

.w3-container {
    padding:0.01em 16px
}

.w3-padding-32{
    padding-top:32px !important;
    padding-bottom:32px !important
}

.w3-center {
    align-content: center;
}

.w3-content{
    max-width:980px;
    margin: 50px 50px 50px 50px
}

.w3-btn,.w3-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.w3-disabled,.w3-btn:disabled,.w3-button:disabled{
    cursor:not-allowed;
    opacity:0.3;
    pointer-events: none
}

.w3-button:hover{
    color:#000!important;
    background-color:#ccc!important
}

.w3-black {
    color:#fff !important;
    background-color:#000 !important
}

.w3-white {
    color: #000 !important;
    background-color: #fff !important
}

.w3-padding-small{
    padding:4px 8px!important
}