<!DOCTYPE html><html><head>
<title>17. The I-20 Form, SEVIS Fee and Visa Interview</title>
<meta charset="utf-8">
<meta name="layout" content="post ">
<meta name="date" content="2016-09-08">
<% include ../partials/header.ejs %></head>
<body><% include ../partials/navbar.ejs %><div id="main_div" class="w3-content"></div>
<p>If there’s a document that you’ll hold dear to your heart, it’s your <a href="https://studyinthestates.dhs.gov/2013/01/what-is-the-form-i-20">I-20 Form</a>. Once you’ve committed to your university, the Admissions Office/ International Students Office will send you the I-20. Ensure that you provide a reliable delivery address to avoid any inconvenience. The I-20 is proof that you’ve been admitted to the university, so scan it to ensure that you have a digital copy as well.</p>
<p>If you’ve not yet made contact with <a href="http://nairobi.usembassy.gov/edusa.html">EducationUSA’s Office at the US Embassy in Gigiri</a>, we highly recommend that you do so. There are sessions designed for admitted students ranging from Visa Application workshops to Pre-Departure Orientation. The Visa Application workshop is especially helpful since it outlines the next steps that you need to take, and you also get a chance to clarify any steps that you don’t understand from a Consulate Officer (the people who actually approve your visa application). Although the process may have changed since 2015 when we had our visa applications, the process is generally like this:</p>
<ol>
<li><p>Pay the SEVIS fee. You’ll need your I-20 when filling your online application. We paid our SEVIS Fee at Western Union, so follow the payment instructions you get at the end and retain proof of payment. See the <a href="https://www.fmjfee.com/">SEVIS Website</a> to get started on this as soon as possible.</p></li>
<li><p>Complete your Visa Application (usually an F-1 Visa). See the <a href="http://nairobi.usembassy.gov/student_visas.html">Student Visa Website for the US Embassy in Nairobi</a> for requirements. There’s also an application fee for this, so make sure you pay and retain proof of payment. Select a suitable date and time for your visa interview (and don’t you miss it!) Ensure you have all the required material. Print the confirmation page as instructed.</p></li>
<li><p>Interview Day. Triple check your documents since the last thing you want is realizing you forgot your something at home. Dress decently (i.e. don’t wear ripped jeans and an ‘I Love Weed’ t-shirt). Assume you’re dressing for a job interview. The queue can be ridiculously long, so get to the embassy early. Follow their instructions once you get there. Keep calm, you’ve worked for this!</p></li>
<li><p>Now that your visa has been approved and you’ve been given that green paper (or whatever they give nowadays), rejoice, keep reading on and pick up your passport once it has been stamped.</p></li>
</ol>
<h2 id="note">Note</h2>
<p>Note that the above information (and any updates) is offered in the Student Visa Application workshop held by EducationUSA, so attend the workshop!</p>

<footer class="w3-container w3-black"><% include ../partials/footer.ejs %></footer></body></html>