<!DOCTYPE html><html><head>
<title>07. Tests that you need to take</title>
<meta charset="utf-8">
<meta name="layout" content="post ">
<meta name="date" content="2016-09-08">
<% include ../partials/header.ejs %></head>
<body><% include ../partials/navbar.ejs %><div id="main_div" class="w3-content"></div>
<h2 id="sat">SAT</h2>
<ul>
<li><p>Created by College Board, the SAT is a college entrance exam used by most US colleges to make admissions decisions. This is not to mean that only the SAT matters in your application. There’s a lot more than the SAT that is considered for admission to US colleges e.g. co-curricular activities, admissions essays, GPA and teacher recommendations.</p></li>
<li><p>The SAT is supposedly a test of aptitude. As of March 2016, it consists of two sections; evidence-based reading and writing, and math. The perfect score is 1600 and the lowest score is 400. It is offered throughout the year. Practice, more than intelligence, contributes to better performance on the SAT especially because the SAT is a very different exam from normal high school exams and requires a lot of timing and tact. Practice hard and be smart about it!</p></li>
<li><p>Take the SAT + Essay version so as to keep your options as open as possible.</p></li>
</ul>
<h2 id="satsubjecttests">SAT Subject Tests</h2>
<ul>
<li><p>The SAT Subject Tests are 20 multiple choice standardized tests given by College Board on a variety of subjects ranging from Chemistry to languages such as Chinese and Modern Hebrew. Some colleges require a certain number of Subject Tests, others make them optional, while others do not require but we recommend that you take Subject Tests. If you don’t, you’ll severely limit the number of schools you can apply to. The perfect score in any single subject test is 800.</p></li>
<li><p>The classes you take in high school mainly have an influence on what Subject Tests you end up taking, but this doesn’t mean you cannot tackle a subject test that you did not study in high school. Math/ Biology/ Physics/ Chemistry are common picks for Subject Tests by Kenyan students as most of us have done this in high school. The Subject Tests require both a good grasp of the material and a good amount of timing and tact. Therefore, practice is key for good results in the Subject Tests.</p></li>
<li><p>Math comes in two forms, Math IC (Level 1) and Math lIC (Level 2). Don’t let the ‘Level 2’ scare you. While you’ll need to learn new material, Math Level 2 is graded more generously than Math Level 1. Most engineering programs favor Math Level 2 to Math Level 1.</p></li>
<li><p>Biology E/M also comes in two forms, Ecological and Molecular. Biology E/M with an Ecological focus deals with ecosystems. Biology E/M with a Molecular focus deals with the in cell processes of life. You’ll do the same 60 questions, but then choose the concentration from which your final 20 questions will come from. Practising way before hand allows you to conclusively decide what tests you have a chance to score best on.</p></li>
<li><p>The SAT Physics Subject Test and the SAT Chemistry Subject Test don’t have any subdivisions that need to be addressed.</p></li>
<li><p>The most useful combination is one Math test, and either Physics or Chemistry. This will fulfill the SAT Subject Test requirement for most schools, including Schools of Engineering (unless the school requires Math Level 2 in which case Math Level 1 won’t do). Very few schools require 3 SAT Subject Tests. Confirm with the university’s website.</p></li>
</ul>
<h2 id="collegeboard">College Board</h2>
<ul>
<li><p><a href="https://www.collegeboard.org/">College Board</a> administers the SAT and SAT Subject Tests.You need an email account (for convenience, use Gmail) to sign up for College Board. Once you sign up for College Board, you get access to a few SAT online tests and university profiles. You also send your SAT and SAT subject test scores to colleges via College Board, meaning a College Board account is compulsory for applying to study in the US.</p></li>
<li><p>College Board also offers Advanced Placement tests (APs) which are an easy way to get out of most requirements in college. APs are not offered at KCSE-oriented high schools, so to place out of requirements in your freshman year, you’ll have to take tests administered by your university once you get admitted.</p></li>
<li><p>Remember: Do a lot of practice on the SATs! That’s the only way to getting stellar scores.</p></li>
</ul>
<h2 id="satoract">SAT OR ACT?</h2>
<ul>
<li><p>While either of the two can be used for college entrance, some students may score better on the SAT than the ACT and vice versa. If possible, I’d recommend that you take both. None of the tests seem to be statistically more popular than the other, as both get around an equal number of takers every year. In the case that you take both of them, colleges will focus on the one you score better in, so it doesn’t hurt to take chances and spend that extra buck. This guide will contain a number of both ACT and SAT sample tests which you can attempt before making a choice on which of the two to take.</p></li>
<li><p>That being said, there are differences as pertains to format and content between the two that would affect how you score in each of them: http://www.princetonreview.com/college/sat-act</p></li>
<li><p>While some universities consider the ACT in place of both the SAT and the SAT Subject Tests, some universities will require 2 Subject Tests, in addition to the ACT/SAT. So spare yourself the headache of compiling a list of who needs what and just take the SAT Subject Tests, whether you take the SAT or the ACT.</p></li>
<li><p>Also, when trying to decide between the ACT and SAT, make up your mind early enough! Don’t switch your preference at the last minute since you won’t have enough time to prepare.</p></li>
</ul>
<h2 id="registeringfortheexams">Registering for the Exams</h2>
<blockquote>
  <p>Learning and Testing Services – East Africa
  TAJ Tower, Upper Hill, Nairobi
  Email: info@lts-africa.com
  Phone: +254 20-233-0843, +254 20-232-5834, +254 712-135826</p>
</blockquote>
<ul>
<li><p>As of August 2016, LTS – East Africa is the only authorized body to register students for the SAT and TOEFL – avoid middlemen! The SAT is usually offered in the first week of January, May, June, October, November and December.</p></li>
<li><p>Registration deadlines for international students applying through an International Representative (LTS is Kenya’s International Representative) come sooner, so check College Board and plan to register early enough in case there are delays in receiving your online test ticket (the paper registration needs to be synced with your College Board account so ensure your identifying details are the same).</p></li>
<li><p>The costs for 2018 are:</p></li>
<li><p><a href="https://collegereadiness.collegeboard.org/sat/register/international/fees">SAT</a> – $84 without essay, $98 with essay</p></li>
<li><p><a href="https://collegereadiness.collegeboard.org/sat-subject-tests/register/international-registration/fees">SAT Subject Tests</a> – $106 for 2 Subject Tests, $127 for 3 Subject Tests</p></li>
<li><p><a href="https://www.ets.org/bin/getprogram.cgi?urlSource=toefl&amp;newRegURL=&amp;test=TOEFL&amp;greClosed=new&amp;greClosedCountry=China&amp;browserType=&amp;toeflType=&amp;redirect=&amp;t_country1=group_Kenya">TOEFL-iBT</a> – $190</p></li>
</ul>
<h2 id="protips">ProTips</h2>
<ul>
<li><p>While you may be thumping your chest after conquering KCSE, we strongly discourage taking the December &amp; January SATs. The test format and content is different. Give yourself time to prep for the SATs.</p></li>
<li><p>You may do the May &amp; June SATs and if necessary retake in October or November. December is a bit too late and by then, you should be focused on application essays.</p></li>
<li><p><em>You can’t take both the Redesigned SAT and the SAT Subject Tests on the same day.</em></p></li>
</ul>
<h2 id="toeflibt">TOEFL-iBT</h2>
<ul>
<li><p>Stands for Test of English as a Foreign Language (Internet-Based Test).</p></li>
<li><p>Mainly required by Canadian universities. Most American universities waive this requirement by virtue of Kenya being an English speaking country. Also, English is the language of instruction in Kenyan schools.</p></li>
<li><p>In case a school insists that you take the TOEFL, register at LTS – East Africa.</p></li>
</ul>

<footer class="w3-container w3-black"><% include ../partials/footer.ejs %></footer></body></html>