<!DOCTYPE html><html><head>
<title>03. What are US universities looking for in international students?</title>
<meta charset="utf-8">
<meta name="layout" content="post ">
<meta name="date" content="2016-09-08">
<% include ../partials/header.ejs %></head>
<head></head><body><% include ../partials/navbar.ejs %>
                <div id="main_div">
<h1 id="03whatareusuniversitieslookingforininternationalstudents">03. What are US universities looking for in international students?</h1>
<p>This section has been extracted from the <a href="https://drive.google.com/open?id=0BxcN6nrpsXL6eHlBUHBNaGdTZ00">EGF Guide</a>.</p>
<p>While an admission decision based purely on test scores and grade point averages is easier to explain, such scores seldom reflect an applicant’s intellectual curiosity, creativity, originality and love of learning. Applicants can distinguish themselves for admission in a number of ways. Some show unusual academic promise through achievements in study or research that place them among the best potential scholars of their generation.</p>
<p>Most are “well rounded” and have contributed in various ways – academic and nonacademic – to the lives of their schools or communities. Others are “well-lopsided” with demonstrated excellence in a particular endeavor—academic, extracurricular or otherwise. Still, others bring perspectives formed by unusual personal circumstances or experiences. The energy, commitment, and dedication it takes to achieve the various kinds and degrees of excellence are revealed not by test scores, but by students’ activities outside the classroom, the testimony of teachers and guidance counselors, and by alumni/ae and staff interview reports.</p>
<h3 id="academics">Academics</h3>
<p>Most colleges identify academic achievement and potential as the most important factor influencing admission. Truly brilliant students will usually be admitted if they appear to be of good character. However, school grades and test scores are not always reliable indicators of real brilliance and schools will look for signs of intellectual curiosity, creativity, originality and a love of learning.</p>
<ul>
<li><p>Is there evidence of original work such as writing, poetry, mathematical or scientific research? Did the student participate in competitions, contests, symposia and [science] congresses?</p></li>
<li><p>Are there unusual factors such as poor school resources or personal difficulty that may give a context to an applicant’s intellectual ability and promise?</p></li>
</ul>
<p>Applicants may also demonstrate their potential to contribute academically by achieving high marks in a challenging program of study or by making the most use of resources available to them in their school/community.</p>
<h3 id="extracurriculars">Extracurriculars</h3>
<p>This will include an applicant’s participation in life outside the classroom, including significant contributions to the life of their school or community in athletics, music, art/drama and student leadership. In addition to school extracurricular activities and athletics, students can describe significant community, employment, or family commitments. There are many who spend a great deal of time helping to run their household, preparing meals and caring for siblings or making money with a part-time job to help the household meet expenses.</p>
<p>Schools have no preference for one activity over another, but they look most favorably upon those students who have committed themselves to their chosen activities over a period of time and who have shown energy, discipline, and enthusiasm in working with others.</p>
<p>They also recognize that some schools may not have a full range of extracurricular activities and they take this into account while evaluating applicants. Admissions Committees are concerned most of all to know how well students used the resources available to them. Extracurricular activities need not be exotic — most are not — and substance is far more important. A student who has made the most of the opportunities offered by their secondary school is much more likely to do so during college and beyond.</p>
<p>This applies to academic life as well as extracurricular activities.</p>
<h3 id="personal">Personal</h3>
<p>Personal qualities and character provide the foundation upon which each admission rests. Some personal qualities like maturity, character, leadership, self-confidence, warmth of personality, sense of humor, energy, and grace under pressure are essential for someone to thrive in an unfamiliar and competitive environment thousands of miles from home.</p>
<p>Some applicants, on the other hand, may have an unusual attractiveness of personality that would enrich the college community, including unusual concern for others or desire to make a difference. However, any candidate about whom there is evidence of serious weakness of character is rejected.</p>
<p>Most college graduates often report that the education they received from fellow classmates was a critically important component of their college experience. The education that takes place between roommates, in dining halls, classrooms, research groups and extracurricular activities depends on selecting students who will reach out to others.</p>
<p>The admissions committees, therefore, take great care to attempt to identify students who will be outstanding “educators,” and would contribute towards a great college community.</p>
<h2 id="whoisreadingtheapplicationwhataretheyseeking">Who is reading the application &amp; what are they seeking?</h2>
<blockquote>
  <p>“But the truth is that essay readers are nothing more than bright, curious, conscientious people – frazzled by the pile of folders ahead of them, perhaps, and probably a little sleepy, but basically open to what the kids have to write. They don’t want to have to spend a lot of time unmixing metaphors and trying to guess who the writer really is. They want writers who will speak to them directly from personal experience. (..) The real you. That is your voice.” – Bill Mayher, College Admissions Mystique</p>
</blockquote>
<p>They seek evidence of good academics &amp; academic initiative of extracurricular activities of leadership &amp; impact ‘beyond the numbers, of who you are, of what you add’</p>
<p>They wonder “Would I like to share a bedroom with this person?” They reject on: arrogance (boasting), bigotry (prejudice), signs of trickery, dishonesty, lying, unfair play, but also on dull essays.</p>
<p>They also try to understand what you have achieved in your context:</p>
<ul>
<li><p>71% of those applying through Common Application last year had at least one parent with a Bachelor’s Degree</p></li>
<li><p>Are you the first in your family to finish high school, or to attend university?</p></li>
<li><p>One of few in your village to go to high school?</p></li>
<li><p>The first in your high school to apply abroad?</p></li>
</ul>
<h2 id="howwilltheadmissionsofficerknowthis">How will the admissions officer know this?</h2>
<p>Therefore, in telling your story – think, analyze, provide others with the information to help them help you</p>
<h3 id="schoolprofile">School profile</h3>
<ul>
<li><p>Where do people go on to university in last three years, how many went to university?</p></li>
<li><p>Where is it ranked – if high ranked, show you had good teaching; if low ranked, show you did well.</p></li>
<li><p>Guidance counselor reference – family background, how many children, both parents alive, live with grandparents, IDP, parents’ jobs – peasant farmers</p></li>
<li><p>School resources – how many computers, how many books in the school library</p></li>
</ul>
<h3 id="managingtheinformation">Managing the information</h3>
<ul>
<li><p>What does the admissions officer need to know about me/my life?</p></li>
<li><p>What strengthens my application?</p></li>
<li><p>Focus &amp; selective, not every detail</p></li>
<li><p>Who is the best person to tell them (teacher, headteacher, me in an essay)?</p></li>
<li><p>Avoid duplication.</p></li>
<li><p>How can I help this person to provide accurate, compelling information?</p></li>
</ul>
<h3 id="academicsandacademicinitiative">Academics and Academic Initiative</h3>
<blockquote>
  <p>‘Interested in learning for learning’s sake’</p>
</blockquote>
<ul>
<li><p>The key issue ahead of extracurricular &amp; leadership/impact – but on its own not sufficient</p></li>
<li><p>Vocal member of the class? Someone who asks interesting questions?</p></li>
<li><p>Intellectual potential, love of learning – how have you developed your interest?</p></li>
<li><p>Academic initiative – e.g. a teacher of lower classes, coordinator of maths club, district/regional awards, independent research.</p></li>
</ul>
<h3 id="extracurricularactivities">Extracurricular activities</h3>
<ul>
<li><p>What do you spend your time doing besides studying?</p></li>
<li><p>What excites and motivates you? Follow your interests.</p></li>
<li><p>What do you add beyond the figures (your SAT scores)?</p></li>
<li><p>Very impressive would be e.g. significant commitment to one or more activities, usually with regional or national recognition, leadership or dedication</p></li>
<li><p>BUT overcoming extreme challenge to attain high level of leadership/involvement is seen as most impressive</p></li>
</ul>
<h3 id="leadershipandimpact">Leadership and impact</h3>
<ul>
<li><p>Positions of responsibility</p></li>
<li><p>At school? (<em>Did you teach lower classes?</em>)</p></li>
<li><p>At work?</p></li>
<li><p>At home, as carer, wage-earner, for livestock?</p></li>
<li><p>In the community, church, President’s Award, scouts?</p></li>
<li><p>How were you selected? What does it involve? What was the feedback from people who worked with you?</p></li>
<li><p>Do you initiate things, or do you follow behind?</p></li>
</ul>
<h3 id="workexperience">Work Experience</h3>
<ul>
<li><p>What have you been doing at your workplace?</p></li>
<li><p>How can you show the challenges, dedication, the integrity needed?</p></li>
<li><p>Have you been involved in other roles apart from your standard assigned roles?</p></li>
</ul>
<p>However, college admissions is not an exact science…
It isn’t a predictable and equitable process. Warmest congratulations if you get in. But if you don’t, it truly doesn’t say anything about you, your capacities, your potential to study abroad next year or in five years</p>
<blockquote>
  <p>“We aren’t looking for well-rounded individuals, we’re looking for a well-rounded class”</p>
</blockquote>

</div>
                <% include ../partials/footer.ejs %></body></html>