<!DOCTYPE html><html><head>
<title>16. Receiving Admission Decisions</title>
<meta charset="utf-8">
<meta name="layout" content="post ">
<meta name="date" content="2016-09-08">
<% include ../partials/header.ejs %></head>
<head></head><body><% include ../partials/navbar.ejs %>
                <div id="main_div">
<h1 id="16receivingadmissiondecisions">16. Receiving Admission Decisions</h1>
<h3 id="itsdecemberyourearlyapplicationresultsarein">It’s December. Your early application results are in!</h3>
<p>The school will have sent you an email with a link to the decisions portal. The school can tell you one of four things: Accepted, Waitlisted, Deferred, or Rejected.</p>
<h4 id="scenario1accepted">Scenario 1: Accepted!</h4>
<ul>
<li><p>Check the financial aid offer. If the package is affordable, you’re all set! If you had applied EA or SCEA, you can still apply to more schools in the RD round – who knows, you may be as desirable as a ripe avocado!</p></li>
<li><p>If the financial aid offer is insufficient, write a letter of appeal to the university’s Financial Aid Office requesting more aid. Appeal as soon as possible since you don’t have time.</p></li>
<li><p>If the financial aid appeal makes the university affordable, then you’re good to go.</p></li>
<li><p>If the appeal doesn’t come through, be ready to hit ‘Submit’ on the other applications. If you had applied ED, request the school to let you go since it’s not going to work out.</p></li>
</ul>
<h4 id="scenario2deferred">Scenario 2: Deferred</h4>
<ul>
<li>In this case, the school puts you in the RD pool, and they’ll review your application together with the rest of RD applicants – this means you’ll know the school’s final decision in March/April. Be ready to send the other applications.</li>
</ul>
<h4 id="scenario3waitlist">Scenario 3: Waitlist</h4>
<ul>
<li>The school puts your name in a list so that if its admits don’t enroll, the school can admit you off the waitlist. College Confidential’s article: <a href="http://www.collegeconfidential.com/deferral/">Dealing with Deferral and Waitlists</a> offers some tips on improving your odds. Either way, get your RD applications in order because you’re sending them!</li>
</ul>
<h4 id="scenario4rejected">Scenario 4: Rejected</h4>
<p>Rejection doesn’t mean that you were a bad candidate; you might not have been a good fit (e.g. you wanted to pursue Underwater Basket Weaving at Cal-Tech). Submit the other college applications &amp; financial aid applications by the stipulated deadline.</p>
<hr>
<h3 id="3monthslater">3 months later…</h3>
<p>It’s late March/ early April. Everybody is talking admissions and schools are bragging about how many perfect score students they turned down. The results come in quick succession, so we imagine this is an emotional moment for you. This time, there are no deferrals.</p>
<ul>
<li><p>For the schools that accept you, examine their financial aid package – pick the school with the best package. Appeal the financial aid award if you need to.</p></li>
<li><p>For the schools that waitlist you, see the previous advice on how to boost your chances of getting admitted off the waitlist.</p></li>
<li><p>For the schools that reject you, don’t despair. They have no idea how awesome you are!</p></li>
</ul>
<h3 id="remark">Remark</h3>
<p>It’s possible to get all rejections. Talk about it with someone who cares about you. Don’t beat up yourself about it. If you want to, you may apply a 2nd time.</p>
<p>However, if this is your 2nd trial, then concentrate on a Kenyan university – it’s in your best interests to do so.</p>

</div>
                <% include ../partials/footer.ejs %></body></html>