<!DOCTYPE html><html><head>
<title>06. Activities that you can be doing alongside college applications</title>
<meta charset="utf-8">
<meta name="layout" content="post ">
<meta name="date" content="2016-09-08">
<% include ../partials/header.ejs %></head>
<body><% include ../partials/navbar.ejs %><div id="main_div"></div>
<p>As much as we’re guiding you on how to apply to US universities, we’ll also offer suggestions on what you can be doing with your free time (assuming you’ve just done your KCSE). There’s more to life than watching an entire series per day! </p>
<ul>
<li><p>Go to driving school and get your license. Ask your parents/ neighbors/ peers to recommend good driving schools in your area.</p></li>
<li><p>Learn a foreign language. <a href="https://www.duolingo.com/">Duolingo</a> and <a href="https://www.languagezen.com/courses">Language Zen</a> are good teachers.</p></li>
<li><p>Look into one of the high schools in your area. Do they need a peer teacher in a subject(s) that you were particularly good at? Then offer to help, regardless of whether they can pay you.</p></li>
<li><p>Read lots of books, especially non-fiction since they introduce you to new ideas. Open an account on <a href="https://www.quora.com/">Quora</a> and look for book recommendations to get you started. There are so many PDFs/ EPUBs/ MOBIs floating around.</p></li>
<li><p>Learn how to code. ICDL and similar courses are not worth the amount of money charged. There are lots of free online resources (<a href="https://www.codecademy.com/">Code Academy</a>, <a href="https://www.khanacademy.org/computing/computer-programming">Khan Academy</a>, <a href="https://www.udacity.com/">Udacity</a>, <a href="https://www.edx.org/course/introduction-computer-science-harvardx-cs50x">Harvard’s CS50 on EdX</a>, etc.) Use the money to cater for internet data charges.</p></li>
<li><p>Work in some family business (or start your own). Take on more responsibilities within the business. Think of ways to improve it. This can be the family farm, shop, salon, or even a youth-oriented program.</p></li>
</ul>
<p>Some of these activities are not full-time commitments. You may have a combination that makes the best use of your time, while still allowing you to complete your college applications, which will demand a lot of your time.</p>

<footer class="w3-container w3-black"><% include ../partials/footer.ejs %></footer></body></html>