<!DOCTYPE html><html><head>
<title>10. When considering a university, what should you look for?</title>
<meta charset="utf-8">
<meta name="layout" content="post ">
<meta name="date" content="2016-09-08">
<% include ../partials/header.ejs %></head>
<head></head><body><% include ../partials/navbar.ejs %>
                <div id="main_div">
<h1 id="10whenconsideringauniversitywhatshouldyoulookfor">10. When considering a university, what should you look for?</h1>
<p>There are more than 2,000 4-year institutions in the US, but you’ll only apply to about 8 of them. This section highlights some key things to look for when researching a given school.</p>
<h2 id="financialaidscholarship">Financial Aid (Scholarship)</h2>
<p>There’s no point in attending an unaffordable school – your visa won’t even get approved if you can’t afford your education. Note that it’s impossible to work on campus to pay for your degree (You’ll earn approximately $3,000 per year, while the fees range at +$65,000). Be sure to note whether a university offers financial aid FOR INTERNATIONAL STUDENTS. Public universities usually don’t have funds for international students (unless the school is partnering with an organization like MasterCard). Not all private schools have scholarships for internationals; for instance, although Carnegie Mellon University is a good choice, don’t expect them to give you a scholarship.</p>
<p>Look for what percentage of a student’s need that a university meets. Don’t be fooled by the percentages though: a university that provides 80% scholarship requires your family to contribute +$13,000. Also check whether the scholarship comes in the form of a grant (you’re not required to pay back) or a loan (you’ll have to pay them back, usually after you graduate). Between the two forms, incline yourself to universities that offer grants.</p>
<h2 id="courseofstudy">Course of Study</h2>
<p>Just because a university is highly ranked doesn’t imply that it offers all degrees (also called majors). For instance, Harvard doesn’t have a Civil Engineering program. Although you may not have settled on a definite major, ensure that the university offers a collection of courses that you’re interested in. The types of courses available are a key difference between research universities and liberal arts colleges. Liberal arts colleges don’t usually offer Engineering Degrees.</p>
<p>You may have noticed that we’re dividing schools into those that have AB degrees only and those that have both BSE &amp; AB degrees. We do this because Engineering is the main specialization offered at the undergraduate level. Degrees like Law and Medicine are offered as postgraduate degrees, so you can’t do them as an undergraduate student.</p>
<h2 id="selectivity">Selectivity</h2>
<p>It’s a good idea to gauge where you stand on a university’s admitted profile. Let’s look at <a href="http://admission.stanford.edu/basics/selection/profile.html">Stanford’s Profile for SAT Math Scores for the Class of 2020</a> as an example. Pay attention to the disclaimer that the school offers.</p>
<blockquote>
  <p>“The following statistics give a general picture of the freshman and transfer applicants and admits. We caution you against a narrow interpretation of this data. We are providing it because we are often asked to evaluate an applicant’s chances of admission based on certain criteria. To make such a judgment without reviewing an entire application is impossible, but the following information may prove useful to you. Bear in mind that an applicant in the top of one group may not be in the same position on another measure and that the rigor of academic programs varies considerably among schools.”</p>
</blockquote>
<table>
<thead>
<tr>
<th>SAT Math Score</th>
<th>Percent of Applicants</th>
<th>Admit Rate</th>
<th>Percent of Admitted Class</th>
</tr>
</thead>
<tbody>
<tr>
<td>800</td>
<td>18%</td>
<td>8%</td>
<td>28%</td>
</tr>
<tr>
<td>700 – 799</td>
<td>40%</td>
<td>7%</td>
<td>49%</td>
</tr>
<tr>
<td>600 – 699</td>
<td>28%</td>
<td>4%</td>
<td>20%</td>
</tr>
</tbody>
</table>
<p>Note that although Stanford had a 4.8% acceptance rate for the Class of 2020, the chances of an applicant who scored 800 are higher than those of one who scored 650. Basically, the higher you are on the admitted students profile, the more desirable you are to the university. We’re not claiming that a student who scored 500 on SAT Math can’t get into Stanford, but it might be more likely for that student to encounter a dancing fish that lives in a tree.</p>
<p>The profiles for admitted students usually include test scores, GPA, rank in high school only because these attributes are easily given a number. Test Scores are probably the only thing that you can still influence, so prepare and ace those tests!</p>
<h2 id="otherqualities">Other Qualities</h2>
<p>There are other attributes of schools, but since they are more of a preference, we cannot offer objective advice. Such characteristics include: a large university versus a small university, an urban setting versus a suburban/rural setting, endless summer in California versus the 4 seasons in the North East, artsy versus sports-oriented versus research oriented, guaranteed/required 4-year on-campus housing versus moving into an off-campus apartment during your 3rd year, Greek life (frats and sororities), etc.</p>
<p>Research your picks well enough since the schools will probably ask you in your application, “What made you apply here?” Please don’t say that you love them for their 1:4 faculty to student ratio!</p>

</div>
                <% include ../partials/footer.ejs %></body></html>