<!DOCTYPE html><html><head>
<title>05. Self evaluation questions</title>
<meta charset="utf-8">
<meta name="layout" content="post ">
<meta name="date" content="2016-09-08">
<% include ../partials/header.ejs %></head>
<head></head><body><% include ../partials/navbar.ejs %>
                <div id="main_div">
<h1 id="05selfevaluationquestions">05. Self evaluation questions</h1>
<p>This section has been extracted from the <a href="https://drive.google.com/open?id=0BxcN6nrpsXL6eHlBUHBNaGdTZ00">EGF Guide</a>.</p>
<p>First, take several hours to think about yourself as an individual. KEEP NOTES. Consider, from primary school onwards, who you are, what makes you an individual, which the key aspects of your character are, and what examples you can provide that express them. Don’t think of one example for each section then stop. Try and think comprehensively of all possible experiences/examples, to then help you select the most appropriate example for each situation.</p>
<h2 id="background">Background</h2>
<ul>
<li><p>Where did you grow up? In a small village in Kericho, or on the edge of Nairobi?</p></li>
<li><p>How many brothers and sisters do you have? Are you the oldest, the youngest, in the middle?</p></li>
<li><p>Are your parents alive?  How do they earn a living – are they peasant farmers, have a duka stall or accountants?</p></li>
<li><p>Who were the important people and role models in your life when you were growing up?  <em>E.g. my grandmother who would tell us stories by the fire each night, and tell me she looked to me to become a great success and provide for her in her old age.</em></p></li>
<li><p>Are there other challenges in your life – do you have a disability, were you an IDP, were you brought up by your grandmother, did you grow up in a slum, or is your village very isolated or with very few people who are educated?</p></li>
</ul>
<h2 id="schooling">Schooling</h2>
<ul>
<li><p>Where did you go to school (at primary and secondary level)?</p></li>
<li><p>If you were allocated a place at national or provincial school were you able to take it up?</p></li>
<li><p>Which subjects have particularly stimulated you and have you performed particularly well in?</p></li>
<li><p>Which examples can you give of pursuing your interest in these fields <em>(e.g. researched project on XYZ for National Physics Competition; co-ordinated Maths Club for fellow students, setting and marking problems; taught class of 40 students Chemistry/Biology for two terms to cover teacher absence)</em></p></li>
<li><p>Have mentored, coached or taught other students during your studies? For how long?  What did this involve?</p></li>
</ul>
<h2 id="extracurricularactivitiesandresponsibilitiesyouvebeeninvolvedin">Extracurricular activities and responsibilities you've been involved in</h2>
<ul>
<li><p>How have you spent your time alongside your studies? <em>(e.g. keeping chickens to pay for my studies;  athletics (long distance runner), including competing at regional level; peer counseling, offering guidance to 40 fellow students in my year on issues such as homesickness, bullying, depression;  Presidents Award, leading camping treks, eventually being selected as National Assessor)</em></p></li>
<li><p>Which positions of responsibility have you taken on? <em>(e.g. Laboratory Prefect, supporting the Chemistry teacher by preparing and clearing away all experiments; Peer Counsellor; Chair of Catholic Students Society, the biggest society in the school, with 400 active members, involving facilitating discussion groups, chairing meetings, coordinating voluntary activities through the year.)</em></p></li>
<li><p>Now think beyond your school. Where else have you been active (in your church or mosque? In your community? With local organizations? With your own business?) How?</p></li>
<li><p>At work What work have you been doing in your workplace?  What are your achievements there?What have you learnt, about the tasks, and about yourself?</p></li>
</ul>
<h2 id="nextsteps">Next Steps</h2>
<ul>
<li><p>What subject would you like to study at university? What interests you about this?</p></li>
<li><p>If you are weighing up a few subjects, which are they? What do you see as the similarities between them?  The differences?</p></li>
<li><p>What profession/job do you think you would like to go into after graduation? What do you know about this field? How have you found out more? Which skills that you have do you think will be key?</p></li>
<li><p>How do you think that studying in the US will help you reach this ambition, more than studying in Kenya? <em>(e.g. are there subjects on offer at your chosen colleges, of relevance to this work in Kenya, which are not offered at the parallel Kenyan university?  If so, what are they?)</em></p></li>
</ul>
<p>NB: Make sure you have researched the options in Kenya.  Studying in the USA is not for everyone. In particular, if you want to work as a doctor in Kenya – as Medicine is studied as a postgraduate in the USA, and is very very competitive – you should think very carefully before opting to study in the USA.</p>

</div>
                <% include ../partials/footer.ejs %></body></html>