<!DOCTYPE html><html><head>
<title>14. Common Application Essays and Writing Supplements</title>
<meta charset="utf-8">
<meta name="layout" content="post ">
<meta name="date" content="2016-09-08">
<% include ../partials/header.ejs %></head>
<body><% include ../partials/navbar.ejs %><div id="main_div"></div>
<p>Unlike Kenyan universities which admit solely based on KCSE scores, US colleges require personal essays that show the applicant’s personality. The calibre of colleges that you’re applying to will NOT smother your feet with kisses for having a 4.0 GPA and perfect scores! So give yourself enough time to craft memorable essays. You will find these essay prompts on your Common App. The essays range from short answers (less than 150 words), to medium-sized ones (300 words) and finally, long ones (650 words). Heed the word limits since the Common App will not accept any essays above the word limit.</p>
<p>It helps to have someone review your essays for you since he/she may point out areas which need revision. This reviewer may be your high school English teacher, or someone who has had experience with the US college applications. To ease the essay revision process, write your essays using Google Docs and share them with your reviewer using a link. The sooner you start your essays the better for you since you’ll not be pressuring your reviewer to suggest edits just before the application deadline. Don’t have more than two reviewers since they may have conflicting opinions and it will be hard for you to heed to all of their suggestions.</p>
<p>To start you off, here’s essay writing advice adapted from Nathaniel Choge’s ‘New Horizons: A Guide to Applying to American Colleges’. Choge offers 12 Tips. <a href="https://drive.google.com/open?id=0BxcN6nrpsXL6SGl4cHNNc3h5WWs">Download the PDF</a> for a more detailed explanation:</p>
<ul>
<li><p>Don’t write a term paper.</p></li>
<li><p>Don’t bore the reader; be interesting.</p></li>
<li><p>Structure your essay.</p></li>
<li><p>Use lots of personal detail; show, don’t tell.</p></li>
<li><p>Be concise. Don’t be wordy.</p></li>
<li><p>Address your weaknesses, but don’t dwell on them.</p></li>
<li><p>Vary your sentences and use transitions</p></li>
<li><p>Use active voice verbs.</p></li>
<li><p>Use appropriate vocabulary.</p></li>
<li><p>Seek multiple opinions on your essay.</p></li>
<li><p>Don’t wander; stay focused.</p></li>
<li><p>Revise, revise, revise.</p></li>
</ul>
<p>In addition, we have tips from <a href="https://drive.google.com/open?id=0BxcN6nrpsXL6d1loaHVla18tOFk">Harvard’s Writing Center</a> on how to write outstanding essays. The essays that we write for KCSE differ a lot from the ones you’ll write for your college applications. Combine the insights from Choge’s 12 tips with Harvard Writing Center’s advice, and you’ll get an idea of what is expected from you.</p>
<p>We also provide <a href="https://drive.google.com/open?id=0BxcN6nrpsXL6TEFFalUyWUtZelU">sample essays written by Kenyan students</a> who have applied to the US. These essays are meant to show how different people handled their essays; learn from them – do not copy them!</p>

<footer class="w3-container w3-black"><% include ../partials/footer.ejs %></footer></body></html>