<!DOCTYPE html><html><head>
<title>12. High School Transcript, School Report and Letters of Recommendation</title>
<meta charset="utf-8">
<meta name="layout" content="post ">
<meta name="date" content="2016-09-08">
<% include ../partials/header.ejs %></head>
<body><% include ../partials/navbar.ejs %><div id="main_div" class="w3-content"></div>
<h2 id="transcriptandschoolreport">Transcript and School Report</h2>
<p>The transcript should contain all of your term grades since Form One. Here’s a <a href="https://drive.google.com/open?id=0BxcN6nrpsXL6Rk9LYlF5dnNVb28">sample tanscript</a> that shows how a student’s grades may be presented. Please note that the transcript should be prepared on a school letterhead, bear the official school stamp and signed by an authority (usually the School Principal, but check your high school’s policy).</p>
<p>You’ll also need a School Counselor to fill in your school profile. If your high school has had a history of sending its students to the US, chances are there is a teacher who has already assumed the role of the School Counselor. In that case, approach him/her. If you’re the first one from your high school to apply to US universities, approach your Dean of Studies or Careers &amp; Guidance Counselor, and request that they assume the role of the School Counselor.</p>
<p>The School Counselor is the one who uploads your transcript and your high school profile (for instance, the size of the graduating class, your rank in the class, your school’s resources, etc.). The School Counselor also writes you a letter of recommendation.</p>
<h2 id="teacherrecommendations">Teacher recommendations</h2>
<p>Teacher recommendations give the college an unfiltered view about you from a third party. They reveal aspects about you that your test scores and application essays may not convey. For this reason, they should be taken really seriously. A majority of colleges will require two to three letters of recommendation from different people, mostly teachers and counselors. A few tips on getting good recommendation letters:</p>
<ul>
<li><p>Start early. Look for recommenders way in advance and give them a deadline. This deadline should preferably a month(ish) before recommendations are due on Common App. This gives your recommender time to organize their thoughts and opinions about you and come up with an optimal recommendation letter. It also ensures you avoid the last minute rush and gives you a boost of confidence.</p></li>
<li><p>Get recommenders’ emails (preferably Gmail) and invite them to Common app early enough. You might have to show some teachers how to navigate Common app especially if they are first-time recommenders. That being said, it helps if you get a teacher who has recommended someone else before to recommend you.</p></li>
<li><p>Choose a teacher who has known you closely during your last two years of high school. Such teachers can write better letters of recommendation for you since they still remember you. Most schools prefer that you have one Science/Math teacher and a Humanities/Languages teacher.</p></li>
<li><p>Teachers/ counselors who you worked with outside class are solid recommenders. Colleges want to know your character outside of school work. Are you passionate about anything? How are your social skills? These are things such recommenders could shed some light on.</p></li>
<li><p>Make an appointment with potential recommenders and discuss what you’d like highlighted in your recommendation letter. Remind them of things that really interested you in class, your accomplishments,  talk to them about your extracurricular interests, mention a few challenges you encountered and how you overcame them, discuss your future plans etc. This will enable the recommender to come up with specific examples to use in your recommendation letter and get their recommendation juices flowing. This <a href="https://drive.google.com/open?id=0BxcN6nrpsXL6TW9fRzdzM0c4bWs">Teacher Recommendations Kit</a> PDF should get you started on this process.</p></li>
<li><p>Most importantly, look for someone who’d be enthusiastic about recommending you. Make sure to politely ask for a recommendation.</p></li>
<li><p>Finally, waive your right to view recommendation letters on Common App. Admissions officers will definitely trust letters of recommendations more if they know you haven’t seen them. Throughout the process, keep reminding them about the deadline and find out if they have made progress or ran into any roadblocks setting up recommender accounts of common app. Make sure to thank them after the whole thing is done and inform them about your college decisions.</p></li>
<li><p>The Teacher Recommender Kit has 3 sample letters of recommendation. Show these samples to your teachers because unlike typical letters of recommendation, letters written for US college applications need to be more detailed and personalized.</p></li>
</ul>
<h2 id="uploadingofdocumentsadviceforyourrecommenders">Uploading of Documents (Advice for your Recommenders)</h2>
<ul>
<li><p>Open a Common App Recommender Account, preferably using a Gmail account.</p></li>
<li><p>Fill in information about the student and your relation to him/her. If you’re a School Counselor, you’ll also complete a school profile and a more comprehensive report on the student.</p></li>
<li><p>Type the letter of recommendation using Microsoft Word.</p></li>
<li><p>Print the letter on paper bearing the school’s letterhead, stamp and sign the letter.</p></li>
<li><p>Scan the letters/transcript &amp; send it to your email.</p></li>
<li><p>Aim for readable Black &amp; White PDF scans since the Common App won’t accept large files (in 2014, the limit was 500KB for every upload).</p></li>
<li><p>Each document should be scanned as an independent PDF, i.e. don’t combine the transcript with the KCSE result slip. If the letter has two pages, it should be scanned into a single PDF.</p></li>
<li><p>Download the PDF(s), open your Common App account and then upload the scanned documents.</p></li>
<li><p>Your students will then receive a confirmation message on their Common App once you’ve submitted your recommendation. We’ve advised the student to waive their ability to see the letter, so your recommendation letter will be confidential.</p></li>
</ul>
<h3 id="myhighschooladministerstougherinternalexamscomparedtokcsesuchthatmygpais373willthathurtmychances">My high school administers tougher internal exams compared to KCSE, such that my GPA is 3.73. Will that hurt my chances?</h3>
<p>Admissions Officers try their best to understand your achievement in terms of your context. Your School Counselor gives information such as the highest GPA in the class, your rank, the school’s rank, etc.</p>
<p>This information, combined with your KCSE results and SAT/ACT test scores provide a more holistic view of your academic credentials.</p>

<footer class="w3-container w3-black"><% include ../partials/footer.ejs %></footer></body></html>