<!DOCTYPE html><html><head>
<title>19. Freshman Pro-Tips</title>
<meta charset="utf-8">
<meta name="layout" content="post ">
<meta name="date" content="2016-09-08">
<% include ../partials/header.ejs %></head>
<body><% include ../partials/navbar.ejs %><div id="main_div" class="w3-content"></div>
<p>This <a href="https://www.reddit.com/r/AskReddit/comments/2ul7xd/what_is_your_best_pro_tip_for_new_college_students/">Reddit post</a> discusses some tips for incoming freshmen. I’ll highlight some of the pro-tips right here and add some of my own:</p>
<ul>
<li><p>Wear your lanyard throughout the first two weeks. You will look back to that moment and smile.</p></li>
<li><p>Go to class. Repeat after me: go to class. If you’re not a morning person, avoid registering for 8:30am classes.</p></li>
<li><p>Study for the midterms! They’ll come sooner than you think.</p></li>
<li><p>Twitter is especially helpful for keeping up with Kenyan news.</p></li>
<li><p>Seek help. Colleges have a sharing/counselling platform. Reach out. Your mental health is really important.</p></li>
<li><p>For some reason, Americans are obsessed with Snapchat. Don’t delete WhatsApp; that’s how you’ll keep in touch with your Kenyan friends. Facebook is all over the place.</p></li>
<li><p>Don’t sign up for unnecessary listservs. You don’t want to be receiving 147 emails per hour. But if it’s a free-food listserv, SUBSCRIBE. Text your buddies when there’s a free giveaway; they’ll return the favor.</p></li>
<li><p>Library jobs are the best. However, they get filled up super-fast. Apply early.</p></li>
<li><p>When shopping, don’t mentally convert the dollars into Kenyan shillings. Yes, a 500ml Fanta costs $1.50.</p></li>
<li><p>There’s a readily available daily dose of ice-cream, chicken burgers and pizza. Go to the gym once a week.</p></li>
<li><p>Sleep more than you study, study more than you party, and party as much as you can. In short, manage your time. And no, sleep is not for the weak!</p></li>
<li><p>Use Google Calendar. It is super clutch in keeping track of appointments and events.</p></li>
<li><p>Buy/ Rent textbooks from Amazon Prime. College bookstores are expensive. Don’t torrent PDFs! Torrenting will get you into trouble.</p></li>
<li><p>Maintain your diligent work ethic. Don’t be that guy who peaked in high school.</p></li>
<li><p>Going to your professor’s office hours is not a sign of weakness.</p></li>
<li><p>Read the course syllabus. Note down when you have exams, lest you be surprised one morning.</p></li>
<li><p>Go to most of the frosh-themed events since most people will be trying to know each other. It’s an easy way to make acquaintances/ friends. Joining a campus group is another way to make friends.</p></li>
<li><p>Only date people above 18 and are in college (no high school kids!). In the same vein, avoid dating the person next door or in your class of 20 people.</p></li>
<li><p>Do your papers, problem sets and take-homes before they are due. It will save you from stressful last-minute panic.</p></li>
<li><p>Apparently, Americans have free refills, i.e. you buy a drink once, and you can refill your cup for free/ a marginal cost. Exploit this opportunity whenever possible.</p></li>
<li><p>Avoid debt. Although you need a credit card to raise your credit score (will come in handy when you're trying to buy a house/car), use the credit card only for purchases that you can pay off at the end of the month. The interest rates are quite steep!</p></li>
<li><p>In between classes, rest at the library. Going back to your dorm for a quick nap makes it less likely for you to attend your next class.</p></li>
<li><p>Go to parties; don’t host them. There are clean-ups, stolen stuff, broken things and too much drama. Also, be a good guest when invited.</p></li>
<li><p>Reach out of your group, especially if +2 Kenyans are admitted. It’s nice to have someone you can speak to in Kiswahili, but don’t cling to each other such that you have no time for other people.</p></li>
<li><p>Skim the assigned readings before class.</p></li>
</ul>

<footer class="w3-container w3-black"><% include ../partials/footer.ejs %></footer></body></html>