<!DOCTYPE html><html><head>
<title>09. Examples of US universities that Kenyans have attended on scholarships</title>
<meta charset="utf-8">
<meta name="layout" content="post ">
<meta name="date" content="2016-09-08">
<% include ../partials/header.ejs %></head>
<head></head><body><% include ../partials/navbar.ejs %>
                <div id="main_div" class="w3-content">
<h1 id="09examplesofusuniversitiesthatkenyanshaveattendedonscholarships">09. Examples of US universities that Kenyans have attended on scholarships</h1>
<p>An easy starting point for your college search would be universities where other Kenyans have attended. Here is a list* to get you started. The numbers in parentheses indicate the approximate number of undergrad Kenyan students as of August 2016. If a school doesn’t have a number next to it, it’s only because we’ve not yet heard from people attending that school.</p>
<p>(The numbers in parentheses indicate the approximate number of current undergraduate Kenyan students – freshmen, sophomores, juniors &amp; seniors – as of August 2016. If a school doesn’t have a number next to it, it’s only because we’ve not yet heard from people attending that school.)</p>
<ul>
<li><p>Cornell (28)</p></li>
<li><p>Yale (20)</p></li>
<li><p>Columbia (6)</p></li>
<li><p>Wesleyan (4)</p></li>
<li><p>Princeton (11)</p></li>
<li><p>Smith (10)</p></li>
<li><p>Harvard (14)</p></li>
<li><p>Dartmouth (8)</p></li>
<li><p>Massachusetts Institute of Technology – MIT (6)</p></li>
<li><p>Drexel</p></li>
<li><p>Northwestern</p></li>
<li><p>Lafayette (4)</p></li>
<li><p>University of Pennsylvania (UPenn)</p></li>
<li><p>Pomona</p></li>
<li><p>Brown</p></li>
<li><p>Stanford</p></li>
<li><p>Michigan State University</p></li>
<li><p>Tufts (6)</p></li>
<li><p>Amherst (14)</p></li>
<li><p>St. Lawrence</p></li>
<li><p>Vanderbilt (5)</p></li>
<li><p>Mount Holyoke</p></li>
<li><p>Hamilton</p></li>
<li><p>Middlebury</p></li>
<li><p>Williams</p></li>
<li><p>Lehigh</p></li>
<li><p>Bowdoin</p></li>
<li><p>Brandeis</p></li>
<li><p>Colby</p></li>
<li><p>Bates</p></li>
<li><p>Bryn Mawr</p></li>
<li><p>Kenyon</p></li>
<li><p>Barnard</p></li>
<li><p>Carleton</p></li>
<li><p>Connecticut College</p></li>
<li><p>Davidson</p></li>
<li><p>Gettysburg</p></li>
<li><p>Michigan State</p></li>
<li><p>Oberlin</p></li>
<li><p>Swarthmore</p></li>
<li><p>College of Wooster</p></li>
<li><p>Ashesi University in Ghana has 51.</p></li>
</ul>
<p>The <a href="http://mcfscholarsprogram.berkeley.edu/partner-universities">MasterCard Foundation Scholars Program</a> has partnered with universities in the US, Canada, Ghana and Costa Rica to provide undergraduate scholarships to promising students. Click on the links on MCF Scholars Program’s website to learn about each partner university’s policy on MasterCard scholarships. Some schools require special MCF applications, while others award MasterCard scholarships after general admission. Partner universities in the US are <a href="http://global.asu.edu/MCFScholarsProgram">Arizona State University</a>, <a href="http://mcfscholars.duke.edu/">Duke University</a>, <a href="http://www.msu.edu/stories/master-card-foundation/">Michigan State University</a>, and <a href="http://www.wellesley.edu/">Wellesley College</a>.</p>
<p>Although UC-Berkeley &amp; Stanford currently have MasterCard scholars, they’ll not be accepting any more MCF scholars as of August 2016. These schools have already exhausted their MasterCard grants.</p>
<p>As of 2016, Princeton, Harvard, Yale, MIT and Amherst are need-blind even to international students. This means that your ability to pay is not considered when making admissions decisions.</p>
<p>Spread out your schools according to your chances of getting in. Don’t apply to Harvard, Yale, Princeton, Stanford and MIT as your backup. Be strategic – have some schools in which you’re likely to get in, and others where you require the cosmos to realign in your favor.</p>
<ul>
<li>This list has been compiled from <a href="http://kensap.org/">KenSAP</a> and <a href="http://www.easep.org/">EaSEP</a> since they have the universities on their websites. We don’t have data from other organizations &amp; independent applicants. It is not an exhaustive list!</li>
</ul>

</div>
                <% include ../partials/footer.ejs %></body></html>