<!DOCTYPE html>
<html>

    <head>
        <title>
            {{ block "title" . }} 
                {{ .Page.Title }} | Kenyans Applying to US Universities
            {{ end }}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
        <link rel="stylesheet" type="text/css" href="/css/all_font_awesome_v5.9.min.css" />
        <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> -->
        <link rel="shortcut icon" href="/img/favicon_io/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon_io/favicon-16x16.png">

        <script type="text/javascript" src="/js/OrganizeCitations.js"></script>
        <script type="text/javascript" src="/js/HighlightAnchor.js"></script>

        {{ block "extend_head" . }}
        {{ end }}
    </head>

    <body>

        <div class="container" id="main_div">
            
            {{ partial "breadcrumb.html" . }}
            
            {{ block "main" . }}
            {{ end }}

        </div>

        <footer>
            <a href="/feedback">Contact Us</a>
        </footer>

    </body>

</html>
