<!DOCTYPE html>
<html>

<head>
    <title>4xx Error Page</title>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/navbar.ejs %>

        <div id="main_div">
            
            <h1>Page Not Found</h1>

            <p>
                Please re-check the URL, or 
                <a href="mailto:2016collegeessays@gmail.com">send us an email</a> 
                if you suspect that one of our links is broken. 
                
                <br>
                <br>
                
                Apologies!
            </p>

        </div>


        <% include ../partials/footer.ejs %>

</body>

</html>