<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
        <title>A Message from the Authors</title>
    </head>

    <body>

        Dear Prospective Applicant,
        <br>
        
        <p>
            Applying to US universities can be daunting if you don’t know which steps to take. We successfully obtained scholarships
            to awesome US universities, and numerous high school graduates have reached out to us asking how we did it. Instead of repeating
            the same information over and over (and to a limited audience), we decided to avail it here for everyone.
        </p>
        
        <p>
            We have borrowed heavily from PDFs that guided us in the application process, especially Nathaniel Choge’s New Horizons and
            Equity Group Foundation’s College Guides. We appreciate Kennedy Mukuna’s help in availing the PDFs for us. In sections
            where we had nothing to add, we’ve indicated where you can find the original advice. Otherwise, we’ve updated any outdated
            information and added the lessons we learnt along the way. You can still access these PDFs from this
            <a href="https://drive.google.com/open?id=0BxcN6nrpsXL6cHFUX1NURWlqQjA">Google Drive Folder: Kenyans Applying to US Universities.</a>
        </p>
        
        <p>
            Our guide will only cover college applications to US universities since that’s where we applied. We don’t have extensive
            knowledge about other destinations. However, in the ‘Kenyans Applying to US Universities’ folder, you’ll find the folder:
            <a href="https://drive.google.com/open?id=0BxcN6nrpsXL6OWtiOUF2TGI2bnc">Studying Abroad in Other Countries.</a>
            Those materials provide a good place to start from if you’re looking for options other than the US.
        </p>

        <p>
            We have tried to be as concise as possible while providing you with actionable advice. It’s a long journey, but be assured
            that the results are worth it! Bookmark this website and consult it as many times as you wish. Aim to have a reliable internet
            connection since you’ll spend most of your time online.
        </p>
        
        <br>
        Yours Sincerely,
        <br>
        Chege Gitau (Princeton ‘19), Samuel Mwaura (Lafayette ‘19), Norah Borus (Stanford ‘19), Ian Mwaura (Cornell ‘19), 
        Emmanuel Omari (Stanford ‘19) and Resian Kimojino (Princeton ‘19)
        
        </body>
</html>