<!DOCTYPE html>
<html>

    <head>

        <%- metadata_html %>

    </head>

    <body>
        <% include ../partials/navbar.ejs %>

        <div id="main_div"> <%- content_html %> </div>

        <% include ../partials/footer.ejs %>
    </body>

</html>