<!DOCTYPE html>
<html>

    <head>
        <% include ../partials/header.ejs %>
        <title>Become an Essay Reviewer or Tutor</title>

    </head>

    <body>

        <% include ../partials/navbar.ejs %>

        <div id="main_div">

            <div class="w3-content">

                <p>
                    Psst! If you want to get paid to review essays or tutor, 
                    <a href="#auction-and-payments">please read this section about the auction system and payments</a> 
                    before filling in the form.
                </p>

            </div>

            <div class="w3-container">

                <iframe 
                    src="https://docs.google.com/forms/d/e/1FAIpQLSegud_PyHDXrl9HQH2ANzWmcSQQAB7ml4VpXcp7LIgQUreSbg/viewform?embedded=true"
                    width="100%" height="700px" frameborder="0" marginheight="0" marginwidth="0">Loading...
                </iframe>

            </div>

            <% include ../partials/auction_explanation.ejs %>

        </div>

        <% include ../partials/footer.ejs %>

    </body>

</html>