<!DOCTYPE html>
<html>

<head>
    <title>SAT Prep Rentals</title>
    <% include ../partials/header.ejs %>

    <style>

        h1 {
            font-size: 28px; flex: 1;
        }

        h5, h6 {
            color: #666;
        }

        .product-filter {
            display: flex; padding: 30px 0;
        }

        .product-filter h1 {
            flex-grow: 1;
        }

        .sort {
            display: flex; align-self: flex-end;
        }

        .collection-sort {
            display: flex; flex-direction: column; padding: 2%;
        }

        .products {
            display: flex; flex-wrap: wrap;
        }

        .product-card {
            padding: 2%; flex-grow: 1; flex-basis: 46%; display: flex;
            flex-direction: column;
        }

        .product-image img {
            max-width: 100%;
        }

        .product-info {
            margin-top: auto; padding-top: 20px; text-align: center;
        }

        @media (max-width: 920px) {
            .product-card {
                flex-grow: 1; flex-basis: 46%;
            }
        }

        @media (max-width: 600px) {
            .product-card {
                flex-grow: 1; flex-basis: 46%;
            }
        }

        @media (max-width: 480px) {
            .product-filter {
                flex-direction: column;
            }
            .sort {
                align-self: flex-start;
            }
        }

    </style>
</head>

<body>

    <% include ../partials/navbar.ejs %>

    <div id="main_div">

        <!-- Guidance on setting up shop items: 
            https://css-tricks.com/designing-a-product-page-layout-with-flexbox/
            https://www.w3schools.com/css/css3_flexbox.asp
        -->

        <div class="product-container">

            <nav class="product-filter">
            
                <h1>SAT Prep Rentals</h1>
            
                <div class="sort">
            
                    <div class="collection-sort">
                        <label>Filter by:</label>
                        <select>
                            <option value="All Books">All Books</option>
                            <option value="Main SAT">Main SAT</option>
                            <option value="Math Level 1">Math Level 1</option>
                            <option value="Math Level 2">Math Level 2</option>
                        </select>
                    </div>
            
                    <div class="collection-sort">
                        <label>Sort by:</label>
                        <select>
                            <option value="Price">Price</option>
                        </select>
                    </div>
            
                </div>

            </nav>

            <section class="products">
            
                <div class="product-card">
                    <div class="product-image">
                        <img src="http://i.imgur.com/cnRP45L.jpg">
                    </div>
                    <div class="product-info">
                        <h5>Cracking the SAT: Chemistry, 15th Ed</h5>
                        <h6>3 Practice Tests</h6>
                        <h6>Market Price: 3,093 KES</h6>
                        <h6>Weekly Rental Price: 257 KES</h6>
                        <h6>Number in Stock: 1</h6>
                    </div>
                </div>
            
                <div class="product-card">
                    <div class="product-image">
                        <img src="http://i.imgur.com/cnRP45L.jpg">
                    </div>
                    <div class="product-info">
                        <h5>Cracking the SAT: Chemistry, 15th Ed</h5>
                        <h6>3 Practice Tests</h6>
                        <h6>Market Price: 3,093 KES</h6>
                        <h6>Weekly Rental Price: 257 KES</h6>
                        <h6>Number in Stock: 1</h6>
                    </div>
                </div>
            
                <div class="product-card">
                    <div class="product-image">
                        <img src="http://i.imgur.com/cnRP45L.jpg">
                    </div>
                    <div class="product-info">
                        <h5>Cracking the SAT: Chemistry, 15th Ed</h5>
                        <h6>3 Practice Tests</h6>
                        <h6>Market Price: 3,093 KES</h6>
                        <h6>Weekly Rental Price: 257 KES</h6>
                        <h6>Number in Stock: 1</h6>
                    </div>
                </div>
            
                <div class="product-card">
                    <div class="product-image">
                        <img src="http://i.imgur.com/cnRP45L.jpg">
                    </div>
                    <div class="product-info">
                        <h5>Cracking the SAT: Chemistry, 15th Ed</h5>
                        <h6>3 Practice Tests</h6>
                        <h6>Market Price: 3,093 KES</h6>
                        <h6>Weekly Rental Price: 257 KES</h6>
                        <h6>Number in Stock: 1</h6>
                    </div>
                </div>
            
                <div class="product-card">
                    <div class="product-image">
                        <img src="http://i.imgur.com/cnRP45L.jpg">
                    </div>
                    <div class="product-info">
                        <h5>Cracking the SAT: Chemistry, 15th Ed</h5>
                        <h6>3 Practice Tests</h6>
                        <h6>Market Price: 3,093 KES</h6>
                        <h6>Weekly Rental Price: 257 KES</h6>
                        <h6>Number in Stock: 1</h6>
                    </div>
                </div>
            
                <div class="product-card">
                    <div class="product-image">
                        <img src="http://i.imgur.com/cnRP45L.jpg">
                    </div>
                    <div class="product-info">
                        <h5>Cracking the SAT: Chemistry, 15th Ed</h5>
                        <h6>3 Practice Tests</h6>
                        <h6>Market Price: 3,093 KES</h6>
                        <h6>Weekly Rental Price: 257 KES</h6>
                        <h6>Number in Stock: 1</h6>
                    </div>
                </div>
            
                <div class="product-card">
                    <div class="product-image">
                        <img src="http://i.imgur.com/cnRP45L.jpg">
                    </div>
                    <div class="product-info">
                        <h5>Cracking the SAT: Chemistry, 15th Ed</h5>
                        <h6>3 Practice Tests</h6>
                        <h6>Market Price: 3,093 KES</h6>
                        <h6>Weekly Rental Price: 257 KES</h6>
                        <h6>Number in Stock: 1</h6>
                    </div>
                </div>
            
            
            </section>

        </div>

        <div>
            
            <h2>How do the SAT Rentals Work?</h2>

            <p>
                SAT books range from 3,000 KES to 5,000 KES. We also realize that one 
                book is not enough since you'll run out of practice tests. We're 
                therefore offering SAT prep book rentals. Say you're buying a book
                that has a market price of 4,220 KES and a rental price of 309 KES
                per week. Here's how it would go down: 
            </p>

            <ol class="italics">
                <li>Contact us so that we can agree on the time.</li>
                <li>You'll meet one of us (William Sibuor) at Chiromo Campus at UoN.</li>
                <li>You'll pay 4,220 KES. Sibuor will give you the book. 
                    Say you received the book on July 1st and you return it on July 25th.</li>
                <li>We'll charge you 44.14 KES per day from July 2nd up to July 24th, i.e. 1,015 KES</li>
                <li>Sibuor will then refund you 3,205 KES, which is the difference 
                    between the market price and the total rental charges.</li>
                <li>If your total rental charges for that book were 4,220 KES or 
                    above, no need to return the book since you've already paid full price.</li>
            </ol>

            <p>
                We ask that you take care of the books when you have them. If you
                scribble on the book or highlight the correct answers, then
                no one can use the book after you. You'll have to buy the book
                if it comes down to that.

            </p>

            <p>
                We're currently only serving people in Nairobi. We will add more
                locations based on the feedback that we receive from y'all. In the 
                mean time, see <a href="/college-guide/2016-09-08-08-test-preparation-resources">
                08. Test Preparation Resources</a> for other available resources.
            </p>

        </div>
        
    </div>

    <% include ../partials/footer.ejs %>

</body>

</html>