<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/navbar.ejs %>

    <div id="main_div">

        <div class="w3-content">

        <p>
            SAT books range from 3,000 KES to 5,000 KES. We also realize that one 
            book is not enough since you'll run out of practice tests. We're 
            therefore offering SAT prep book rentals. Say you're buying a book
            that has a market price of 4,220 KES and a rental price of 309 KES
            per week. Here's how it would go down: 
        </p>

        <ol>
            <li>Contact us so that we can agree on the time.</li>
            <li>You'll meet one of us (William Sibuor) at Chiromo Campus at UoN</li>
            <li>You'll pay 4,220 KES. Sibuor will give you the book</li>
            <li>Say you received the book on July 1st and you return it on July 25th.</li>
            <li>We'll charge you 44.14 KES per day from July 2nd up to July 24th, i.e. 1,015 KES</li>
            <li>Sibuor will then refund you 3,205 KES, which is the difference between the market price and the total rental charges</li>
            <li>If your total rental charges for that book were 4,220 KES or above</li>
        </ol>

        <p>
            We ask that you take care of the books when you have them. If you
            scribble on the book or highlight the correct answers, then
            no one can use the book after you. You'll have to buy the book
            if it comes down to that.

        </p>

        <p>
            We're currently only serving people in Nairobi. We will add more
            locations based on the feedback that we receive from y'all. In the 
            mean time, see <a href="/college-guide/2016-09-08-08-test-preparation-resources">
            08. Test Preparation Resources</a> for other available resources.
        </p>

        </div>

        <div id="book_rentals_container">

        </div>

        
    </div>

    <% include ../partials/footer.ejs %>

</body>

</html>