<!DOCTYPE html>
<html>

    <head>
        <% include ../partials/header.ejs %>
        <title>Ways In Which You Can Help</title>

    </head>

    <body>

        <% include ../partials/navbar.ejs %>

        <div id="main_div">

            <div class="w3-content">

            </div>
            <p>
                There are a couple of areas in which you can help. Please fill in 
                this Google Doc indicating which role(s) you'd like. We plan on 
                coordinating the efforts through a mailing list.
            </p>

            <div class="w3-container w3-padding-small">

                <iframe 
                    src="https://docs.google.com/forms/d/e/1FAIpQLSegud_PyHDXrl9HQH2ANzWmcSQQAB7ml4VpXcp7LIgQUreSbg/viewform?embedded=true"
                    width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading...
                </iframe>

            </div>



        </div>

        <% include ../partials/footer.ejs %>

    </body>

</html>