<!DOCTYPE html>
<html>
    <head>
        <title>Kenyans Applying to US Universities Calendar</title>
        <% include ../partials/header.ejs %>
    </head>

    <body>
        <% include ../partials/navbar.ejs %>

        <div id="main_div">
            <div class="w3-content">
                <p>
                    This calendar has events that are relevant to applicants who 
                    plan on applying to US colleges by January 2019 in order to 
                    start their freshman year in September 2019.
                </p>
            </div>
            <div class="w3-container w3-padding-small">

                <!--
                   To generate this, follow the instructions at https://support.google.com/calendar/answer/41207?hl=en
                   If you change calendar metadata, e.g. its title, you'll need to 
                   get fresh HTML from Google. Otherwise, if all you did was create
                   events, there's no need to get fresh HTML from Google. The calendar
                   widget will auto-update.
                -->
                <iframe 
                    src="https://calendar.google.com/calendar/b/2/embed?title=Kenyans%20Applying%20to%20US%20Universities%20Calendar&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=2016collegeessays%40gmail.com&amp;color=%231B887A&amp;src=rk9i41l8rrqqscei7485tcjfrc%40group.calendar.google.com&amp;color=%23A32929&amp;src=nejk1c9n2a5imh4rkaqe9g6jc4%40group.calendar.google.com&amp;color=%23BE6D00&amp;src=6mm1dm3b218fkmoajq9sqodd4s%40group.calendar.google.com&amp;color=%2342104A&amp;ctz=Africa%2FNairobi"
                    class="w3-center" style="border-width:0" width="100%" height="600px" frameborder="0" scrolling="no">
                </iframe>

            </div>
            
        </div>

        
        <% include ../partials/footer.ejs %>

    </body>
</html>