<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/header.ejs %>
    </head>

    <body>
        <% include ../partials/navbar.ejs %>

        <div id="main_div">
            
        </div>

        <footer class="w3-container w3-container w3-black">
            <% include ../partials/footer.ejs %>
        </footer>

    </body>
</html>