<!DOCTYPE html>
<html>

<head>
    <% include ../partials/header.ejs %>
    <title>Get an Essay Reviewer or Tutor</title>

</head>

<body>

    <% include ../partials/navbar.ejs %>

    <div id="main_div">

        <div class="w3-content">

            <p>
                Psst! If you want to pay for essay reviews or a tutor,
                <a href="#auction-and-payments">please read this section about the auction system and payments</a>
                before filling in the form.
            </p>

        </div>

        <div class="w3-container">

            <iframe 
                src="https://docs.google.com/forms/d/e/1FAIpQLScgfD6_gSBH0GoNTKO4Lc-ELFRd2gzGfXp1oTZPfrh6H-9nGg/viewform?embedded=true"
                width="100%" height="700px" frameborder="0" marginheight="0" marginwidth="0">Loading...
            </iframe>

        </div>

        <% include ../partials/auction_explanation.ejs %>

    </div>

    <% include ../partials/footer.ejs %>

</body>

</html>